/* ****general rules***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul,ol,li,menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* ******colori****** */
:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333333;
    --yellow: #fdc15f;
    

}
/* ********style-text******** */
html{
    font-family: 'Noto Sans JP', sans-serif;

}

/* ****row***** */
.row{
    display: flex;
    flex-wrap: wrap;

}
/* *******CONTAINER-HEADER******* */
header{
    background-color: var(--blue);
}
.container-he{
    margin: 0 auto;
    max-width: 1140px;
    padding: 19px 0px;
}
.nav-li{
    color: white;
}
.nav-item{
    padding: 0px 16px;
    font-size: 16px;
    line-height: 38px;
}
.space-bet{
    justify-content: space-between;
    
}
.center{
    align-items: center;
}
.button-white{
    padding: 0px 10px;
    background: white;
    color: black;
    border-radius: 15px;

}
.bar{
    display: none;
    background-color: var(--blue);   
    border: none;
    font-size: 20px;
}
.white{
    color: white;
}
/* *******HERO - MAIN******* */
.col-3{
    flex-basis: calc(100%/3 - 12px);
}
.col-2{
    flex-basis: calc(100%*2/3 - 12px);
}
.store-button{
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    padding: 10px 80px;
    font-size: 16px;
}
.contanier-hero{
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 50px;
}
.col-2,
.col-3{
    background-color: var(--lightblue);
    border-radius: 15px;
    
    
}
.card .col-5{
    flex-basis:50% ;

}
.colcard .col-2{
    padding-bottom:0px ;
}
.card{
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    
}
.textbot{
    padding-left: 25px;
    padding-top: 45px;
    
    
}
.colcard{
    gap: 12px;
    display: flex;
      
}
.title-card{
    color: var(--blue);
    padding-bottom: 40px;
    font-size:24px
}
.phone-card img{
    
    display: block;
    max-width: 240px;
    margin: 0 auto;

}
.col-2 .row .phone-card{
    align-self: flex-end;
    margin: 0 auto;
}
.p-cards{
    padding-bottom: 40px;
}
.size-i{
    font-size: 75px;
    color: var(--blue);
    padding-bottom: 30px;
    padding-top: 32px;
}
.content-center{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
}
.line-height-p{
    line-height: 25px;
}
/* SECTION STRATETIC PLANET */
.Strategic-planning{
    background-color: var(--purple);
    margin-top: 105px;
}
.container-strategic{
    margin: 0 auto;
    max-width: 874px;
    gap: 70px;
}
.planning{
    flex-basis: calc(100% /2 - 35px);
    margin-top: 135px;
    color: white;
}
.card-developement{
    flex-basis: calc(100% /2 - 35px);
    margin-top: 345px;
    padding-bottom:60px;
    
}
.card-dev{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding-bottom: 30px ;
}
.appimg{
    padding: 35px 95px 30px 95px;
}
.p-dev{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-style:italic ;
}
.button-arrow{
    background-color: var(--purple);
    border: none;
    border-radius: 20px;
    padding: 10px 13px;
}
.title-planning{
    font-size: 28px;
    padding-top: 120px;
    padding-bottom: 60px ;
}
.title-dev{
    padding-bottom: 25px;
}
/* ****RESPONSIVE DESK,TABLET E MOBILE**** */
@media screen and (max-width:1203px){
         
    .contanier-hero{
        padding: 0 32px;
    }
}
/* *****RESPONSIVE HEDEAR TABLET,MOBILE**** */
@media screen and (max-width: 810px){
    .bar{
        display: block;
    }
    .nav-li{
        display: none;
    }
}
@media screen and (max-width: 375px){
    .hero[class^="col-"] {
        width: 100%;
    }

}
/* TABLET MAIN-hero*/
@media screen and (max-width: 810px){
    .container-hero .colcard .card .col-5 {
        flex-basis: 100%;     
        
        
    }
    .phone-card img{
        margin:0;
        padding-bottom: 0px;
    }
    .col-2 .row .phone-card{
        margin: 0;
    }
    
}

/* MOBILE MAIN-hero*/
@media screen and (max-width: 375px){
    .colcard .card {
       margin:0 auto;
    }
    .col-2 {
        flex-basis: 100%;
    }
    .col-3{
        flex-basis: 100%;
    }
    .phone-card{
        padding-right: 0px;
    }
    .contanier-hero{
        padding: 20px;
    }
    .line-height-p{
        font-size: 12px;
    }
    .title-card{
        font-size: 18px;
    }
}
/*STRATEGIC PLANNING  */
/* TABLET */
@media screen and (max-width: 810px){
    .planning{
        flex-basis: 100%;
    }
    .card-devolopement{
        flex-basis: 100%;
        
    }
    .card-developement{
        margin-top: 10px;
    }
    .Strategic-planning .row{
        display: block;
        padding:20px;
    }

    
}
/* MOBILE */
@media screen and (max-width: 375px){
    .p-planning{
        font-size: 12px;
    }
    .p-dev{
        font-size: 12px;
    }
}