/* ****general rules***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul,ol,li,menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* ******colori****** */
:root {
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333333;
    --yellow: #fdc15f;
    

}
/* ********style-text******** */
html{
    font-family: 'Noto Sans JP', sans-serif;

}

/* ****row***** */
.row{
    display: flex;
    flex-wrap: wrap;

}
/* *******CONTAINER-HEADER******* */
header{
    background-color: var(--blue);
}
.container-he{
    margin: 0 auto;
    max-width: 1140px;
    padding: 19px 0px;
}
.nav-li{
    color: white;
}
.nav-item{
    padding: 0px 16px;
    font-size: 16px;
    line-height: 38px;
}
.space-bet{
    justify-content: space-between;
    
}
.center{
    align-items: center;
}
.button-white{
    padding: 0px 10px;
    background: white;
    color: black;
    border-radius: 15px;

}
.bar{
    display: none;
    background-color: var(--blue);   
    border: none;
    font-size: 20px;
}
.white{
    color: white;
}
/* ****RESPONSIVE DESK,TABLET E MOBILE**** */
@media screen and (max-width:1203px){
         
    .contanier-hero{
        padding: 0 32px;
    }
}
/* *****RESPONSIVE HEDEAR TABLET,MOBILE**** */
@media screen and (max-width: 991px){
    .bar{
        display: block;
    }
    .nav-li{
        display: none;
    }
}
@media screen and (max-width: 575px){
    .hero[class^="col-"] {
        width: 100%;
    }

}
/* *******HERO - MAIN******* */
.col-3{
    flex-basis: calc(100% / 3);
}
.col-2{
    flex-basis: calc(100% *2 / 3 );
}
.store-button{
    background-color: var(--blue);
    border: none;
    border-radius: 15px;
    padding: 10px 80px;
    font-size: 16px;
}
.contanier-hero{
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 50px;
}
.card{
    background-color: var(--lightblue);
    border-radius: 15px;  
}
.card .row{
    height: 100%;
}
.card .col-5{
    flex-basis:50% ;

}
.colcard .col-2{
    padding-bottom:0px ;
}
.card{
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    
}
.textbot{
    padding-left: 25px;
    padding-top: 45px;
    
    
}
.colcard{
    row-gap: 12px;
    margin: 0 -12px;
      
}
.row.gutter > [class^='col'] {
    padding: 0 12px;
}

.title-card{
    color: var(--blue);
    padding-bottom: 40px;
    font-size:24px
}
.phone-card img{
    
    display: block;   
    margin: 0 auto;
    max-width: 240px;
    

}
.col-2 .row .phone-card{
    align-self: flex-end;
    margin: 0 auto;
}
.p-cards{
    padding-bottom: 40px;
}
.size-i{
    font-size: 75px;
    color: var(--blue);
    padding-bottom: 30px;
    padding-top: 32px;
}
.content-center{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
}
.line-height-p{
    line-height: 25px;
}
/* TABLET MAIN-hero*/
@media screen and (max-width: 991px){
    .card .col-5 {
       flex-basis: 100%;     
       
       
    }
   .phone-card img{
       margin:0 auto;
       padding-bottom: 0px;
   }
   .col-2 .row .phone-card{
       margin: 0;
   }
   .title-card{
       font-size: 14px;
   }
   .line-height-p{
       font-size: 12px;
   }
   .content-center{
       padding-left: 20px;
       padding-right: 20px;
   }
   .store-button {
       
       padding: 10px 70px;
       
   }
}

/* MOBILE MAIN-hero*/
@media screen and (max-width: 575px){
   .colcard .card {
      margin:0 auto;
   }
   .col-2 {
       flex-basis: 100%;
   }
   .col-3{
       flex-basis: 100%;
   }
   .phone-card{
       padding-right: 0px;
   }
   .contanier-hero{
       padding: 20px;
   }
   .line-height-p{
       font-size: 14px;
   }
   .title-card{
       font-size: 18px;
   }
   .content-center{
       padding-left: 80px;
       padding-right: 80px;
   }
   .textbot {
    padding-left: 70px;
    padding-top: 45px;
    padding-right: 70px;
    padding-bottom: 15px;
}
}
/* SECTION STRATETIC PLANET */
.Strategic-planning{
    background-color: var(--purple);
    margin-top: 105px;
}
.container-strategic{
    margin: 0 auto;
    max-width: 874px;
    gap: 70px;
}
.planning{
    flex-basis: calc(100% /2 - 35px);
    margin-top: 135px;
    color: white;
}
.card-developement{
    flex-basis: calc(100% /2 - 35px);
    margin-top: 345px;
    padding-bottom:60px;
    
}
.card-dev{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding-bottom: 30px ;
}
.appimg{
    padding: 35px 95px 30px 95px;
}
.p-dev{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-style:italic ;
}
.button-arrow{
    background-color: var(--purple);
    border: none;
    border-radius: 20px;
    padding: 10px 13px;
}
.title-planning{
    font-size: 28px;
    padding-top: 120px;
    padding-bottom: 60px ;
}
.title-dev{
    padding-bottom: 25px;
}

/*STRATEGIC PLANNING  */
/* TABLET */
@media screen and (max-width: 991px){
    .planning{
        flex-basis: 100%;
    }
    .card-devolopement{
        flex-basis: 100%;
        
    }
    .card-developement{
        margin-top: 10px;
    }
    .Strategic-planning .row{
        display: block;
        padding:20px;
    }

    
}
/* MOBILE */
@media screen and (max-width: 575px){
    .p-planning{
        font-size: 12px;
    }
    .p-dev{
        font-size: 12px;
    }
}
/* SECTION PARTNERS */
.container-expert-parteners{
    max-width: 1140px;
    margin: 0 auto;
}
.testimonials{
    text-align: center;
    padding-top:65px ;
}
.testimonial-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin:35px 65px 35px 10px;
    aspect-ratio: 1;  
    object-fit: cover;
}

.testimonil-margin{
    margin-top: 90px;
    margin-bottom: 30px;
}
.purple-parteners{
    color: var(--purple);
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 32px;
}
.card-testimonial{
    background-color: var(--purple);
    color: white;
    border-radius:25px;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.container-testimonial{
    padding-top:30px ;
}
.partners{
    padding-bottom: 105px;
}
/* media quert tablet */
@media screen and (max-width:991px) {
    .testimonil-margin{
        font-size: 16px;
        margin-right: 60px;
        margin-left: 60px;
        
        
    }
    .testimonials{
        padding: 20px;
    }
    .person{
        margin-top: 15px;
        margin-left: 50px;
    }
    
}
/* MEDIA QUERY MOBILE */
@media screen and (max-width: 575px){
    .card-testimonial{
        flex-wrap:wrap;
        text-align: center;
    }
    .pad-minicard{
        padding: 25px;
        
    }
    .testimonial-img{
        margin: 35px 52px 0px 52px;
    }
    .testimonil-margin{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .container-testimonial {
        
        padding-left: 40px;
    
        padding-right: 40px;
    }
    .person{
        margin-top: 15px;
        margin-left: 0px;
    }
}
    /*  BENIFITS WORKING*/
.benifit-work{
    background-color: var(--purple);
}
.containter-card-work{
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.title-benefits{
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.container-card{
    flex-basis: calc( 100% * (1 / 3) - 60px / 3 );
    
   
    
}
.work-card{
    background-color: white;
    border-radius: 20px;
    padding: 55px 40px 30px 30px;
}
.number{
    font-size: 50px;
    color:var(--purple);
    margin-bottom: 30px;

}
.gap-gutter{
    gap:30px;
    
    
}
.para-work{
    color: var(--purple);
    font-size: 18px;   
}
.numer-margin{
    margin-bottom: 35px;
}
.para-text-work{
    color: #333333a3;
    margin-top: 30px;
}
.purple-button{
    background-color: var(--purple);
    border: none;
    border-radius: 15px;
    padding: 8px 35px;
    font-size: 14px;
    color:white; 
    margin-top: 30px;
}
.containter-card-work{
    padding-left: 30px;
    padding-right: 30px;
}
/* MEDIA QUERY SECTION WORKING TABLET */
@media screen and (max-width:991px){
    .container-card{
        flex-basis: calc(100% * (1/2) - 30px /2);
    }
    
}

/* MEDIA QUERY SECTION WORKING MOBILE */
@media screen and (max-width:575px){
    .container-card{
        flex-basis: calc(100% * (1/1) /1);
    }
    .containter-card-work{
        padding-left: 60px;
        padding-right: 60px;
    }
    
}
/* ******SECTION ABOUT US *****  */
.container-card-about{
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 100px;
}
.text-container-about{
    flex-basis: calc(100% * (9/12) - 100px /1);
    
}
.img-container-about{
    flex-basis: calc(100% * (3/12)  /1);
    
}
.p-about{
    margin-bottom: 80px;
    line-height: 30px;
}
.p-about2{
    line-height: 30px;
    padding-bottom: 150px;
}
.about-purple{
    color: var(--purple);
    font-size: 45px;
    margin-bottom: 60px;
}
.purple-button-img{
    background-color: var(--purple);
    border: none;
    border-radius: 15px;
    padding: 5px 35px;
    font-size: 12px;
    color:white; 
    margin-top: 30px;
}
.img-relative{
  position: relative;   
    
}
.img-about{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;  
       
}
.purple-text-img{
    color:var(--purple);
    font-size: 20px;
    line-height: 32px;
    margin-right: 35px;
    font-weight: bold;
    
}
.icon-img{
    position: absolute;
    top: -22px;
    left: 150px;
    font-size: 80px;
    color:var(--purple)
}
/* MEDIA QUERY ABOUT US  */
@media screen and (max-width:991px) {
    /*  */
    
}

@media  screen and (max-width:915px) {
    .container-card-about{
        gap: 50px;
    }
    
}
@media  screen and (max-width:720px) {
    .container-card-about{
        gap: 15px;
    }
    
}

@media  screen and (max-width:575px) {
    .img-container-about{
        flex-basis: 100%;
    }
    .text-container-about{
        flex-basis: 100%;
    }
    .p-about2{
        padding-bottom: 80px;
    }
    .img-relative{
        padding-bottom: 80px;
    }
    .container-card-about{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
/* CONTAINER-START-MAIN-FREE */
.purple-start{
    background-color: var(--purple);
}
.container-start-main{
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 65px;
    padding-top: 65px;
}
.c-start{
    color: white;
}
.y-start{
    color: var(--yellow);
    font-size: 65px;
    margin-bottom: 50px;
}
.get-start-button{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    font-size: 16px;
    color:var(--purple); 
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;

}
.pre-title{
    font-weight: 200;
    color:#333333a1;

}
.title-start{
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 50px;

}
.under-line{
    text-decoration: underline;
}
.fa-circle{
    font-size: 5px;
    
}
/* media query start free */
 @media  screen and (max-width:991px) {
    .container-start-main{
        padding-left: 40px;
        padding-right: 40px;

    }
    
 }


/* CONTAINER FOOTER */
.black-footer{
    background-color: var(--dark);
}
.container-footer{
    max-width: 408px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 50px;
}
.purple-footer{
    color: var(--purple);
    text-decoration: underline;

}
.footer-text{
    margin-bottom: 70px;
}
.link-footer-text{
    padding-bottom: 45px;
}
/* MEDIA QUERY FOOTER */
@media screen and (max-width:575px) {
    .container-footer{
        padding-right: 20px;
        padding-left: 20px;
    }
    
}